
.main {
    max-width: 100%;
    max-height: 1626px;
    background-color: #ffffff;
}

.navbar { padding-left: 332px;
    padding-right: 371px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;

}
.navbar>a{
    font-size: 18px;
    margin-right: 65px;
    text-transform: uppercase;
    background-color: #ffffff;
    color:#16a085;
    font-weight: bolder;
}

.top-img {
    max-width: 100%;
    height: 790px;
}
.content{
    height: 354px;
    text-align:center;
    padding-left:  113px;
    padding-right: 108px;
    padding-top: 47px;
    background-color: #f5f6f7;

}
.content>h2 {
    font-size: 22pt;
    color: rgba(55, 55, 55, 255);
    padding-left:  229px;
    padding-right: 209px;
    text-transform: uppercase;
    font-family:﻿Courier;
}
.content>text {

    font-family:﻿Courier;
    font-weight: bold;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);

}

.link {
    margin-top:35px;
    width:192px;
    height: 51px;
    color: rgba(255,255,255,255);
    background-color: #16a085;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'GothamRounded-Bold ';
}

.footer {float: right;
    height:108px;
    padding-left: 768px;
    padding-right: 104px;
    ;
}
.footer>p{
    font-size:16px;
    display: inline-block;
    color: rgba(55, 55, 55, 255);
    font-family: "Courier New", serif;
    margin-top:48px;
    font-weight: bolder;

}

